@model string
@{
    ViewData["Title"] = " Error" +ViewBag;
}

<div class="jumbotron my-5">
    <h1 class="display-4 text-danger">Error.</h1>
    <h2 class="text-danger">@Model</h2>
    <hr class="my-4" />
    <a asp-action="ListRols" class="btn btn-dark">La liste des Rôles </a> 
</div>


